doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
  title Sorry, Page not Found
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  body(text='#ffffff', link='#ffffff', bgcolor='#E31836', alink='#ffffff', vlink='#ffffff', topmargin='10', marginheight='10', leftmargin='10', marginwidth='10')
    p &nbsp;
    table(width='600', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#CCCCCC')
      tr
        td
          table(width='100%', border='0', cellpadding='20', cellspacing='0', bgcolor='#E31836')
            tr
              td(valign='top', align='center')
                h1
                  img(src='/images/logo_affilired.gif')
                | &#x9;&#x9;&#x9;&#x9;
                p &nbsp;
                | &#x9;&#x9;&#x9;&#x9;
                h2
                  font(face='Arial, Helvetica, sans-serif', size='4')
                    | Lo
                    | sentimos, la p&aacute;gina que ha solicitado no est&aacute;
                    | disponible.
                | &#x9;&#x9;&#x9;&#x9;
                p
                  font(face='Arial, Helvetica, sans-serif', size='2')
                    | Probablemente
                    | hay un error en la direcci&oacute;n que ha escrito o la
                    | p&aacute;gina solicitada ya no existe.
                    br
                    | &#x9;&#x9;&#x9;&#x9;
                    a(href='/') Ir a la p&aacute;gina principal - Home &raquo;
                | &#x9;&#x9;&#x9;&#x9;
                p &nbsp;
                | &#x9;&#x9;&#x9;&#x9;
                h2
                  font(face='Arial, Helvetica, sans-serif', size='4')
                    | Sorry,
                    | the page you have requested is not available.
                | &#x9;&#x9;&#x9;&#x9;
                p
                  font(face='Arial, Helvetica, sans-serif', size='2')
                    | You
                    | may have typed in the page address incorrectly, or maybe the page no
                    | longer exists.
                    br
                    | &#x9;&#x9;&#x9;&#x9;
                    a(href='/') Go to the homepage - Home &raquo;
                | &#x9;&#x9;&#x9;&#x9;
                p &nbsp;
                | &#x9;&#x9;&#x9;&#x9;
                h2
                  font(face='Arial, Helvetica, sans-serif', size='4')
                    | Sorry,
                    | die gew&uuml;nschte Seite ist leider nicht verf&uuml;gbar.
                | &#x9;&#x9;&#x9;&#x9;
                p
                  font(face='Arial, Helvetica, sans-serif', size='2')
                    | Bitte
                    | &uuml;berpr&uuml;fen Sie Ihre Angabe auf Rechtschreibfehler. Es kann
                    | auch sein, dass die gew&uuml;nschte Webseite nicht mehr existiert.
                    br
                    | &#x9;&#x9;&#x9;&#x9;
                    a(href='/') Zur&uuml;ck zur Anfangsseite - Home &raquo;
    #mainContainer1
